<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Project.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="CCB" value="1" />
    <add key="Server_IP" value="192.168.28.43" />
    <add key="Type_DB_Connection" value="ODBC" />
    <add key="Name_DB" value="batching" />
    <add key="Server_DB" value="192.168.28.43" />
    <add key="USERNAME" value="TATENERGY" />
    <add key="PASSWORD" value="PW9728" />
    <add key="MqttUser" value="tatscada" />
    <add key="MqttPass" value="PW9728" />
    <add key="HardLock" value="True" />
    <add key="Route_Config" value="True" />
    <add key="Call_Route" value="False" />
    <add key="Call_Alarm" value="False" />
    <add key="Start_Batch" value="True" />
    <add key="Mode_Monitor" value="True" />
    <add key="Mode_EditLine" value="True" />
    <add key="Mode_TestIO" value="True" />
    <add key="Confirm_TestIO" value="True" />
    <add key="LoginFailed_Count" value="3" />
    <add key="Share_Location" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Project.My.MySettings>
      <setting name="Number_Close" serializeAs="String">
        <value>1</value>
      </setting>
    </Project.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>